$font-stack:    Helvetica, sans-serif;
$w: #fff;
$b: #000;

body{
  color: $w;
  background-color: $b;
}

header {
  padding: 0;
  margin: 0;
  margin-top: 40px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;

}

  .staticControls{
    .burger{
      position: relative;
      left: 90%;
      bottom: 3.5rem;
    }
    .staticControls-actionBtn{
      display: inline;
      position: relative;
      left: 50%;
      bottom: -45rem;
    }
  }


